{% extends "tethys_apps/app_base.html" %}

{% load staticfiles %}

{% block title %}- {{ tethys_app.name }}{% endblock %}

{% block styles %}
  {{ block.super }}
  <link href="{% static 'gsshaindex/css/main.css' %}" rel="stylesheet"/>
{% endblock %}

{% block app_icon %}
  {# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}
  <img src="{% static tethys_app.icon %}">
{% endblock %}

{# The name you provided in your app.py is accessible through the tethys_app.name context variable #}
{% block app_title %}{{ tethys_app.name }}{% endblock %}

{% block app_navigation_items %}
{% endblock %}

{% block flash %}
    {{ block.super }}{% block modal_block %}{% endblock %}
{% endblock %}

{% block app_content %}
    <div class="row">
        <div class="col-md-3">
            {% block secondary_content %}{% endblock %}
        </div>
        <div class="col-md-9">
            {% block primary_content %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block app_actions %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'gsshaindex/js/main.js' %}" type="text/javascript"></script>
{% endblock %}
