{% extends "gsshaindex/base.html" %}

{% load tethys_gizmos %}

{% block app_navigation_items %}
  <li class="title">App Navigation</li>
  <li><a href="{% url 'gsshaindex:home'%}">Home</a></li>
  <li><a href="">Load New Models</a></li>
  <li class="separator"></li>
  <li><a href="{% url 'gsshaindex:status'%}">Unsubmitted Models</a></li>
  <li class="separator"></li>
  <li><a href="{% url 'gsshaindex:status'%}">Completed Models</a></li>
  <li class="separator"></li>
  <li><a href="">Get Started</a></li>
{% endblock %}

{% block primary_content %}
   	<h1 class="heading_title">Index Map: {{index_name}}</h1>
    <form id="map_edits" method="post" action="{% url 'gsshaindex:submit_edits' index_name=index_name job_id=job_id %}">
        {% csrf_token %}
        {% gizmo editable_google_map google_map %}
    </form>
    <form id="description_edits" method="post" action="{% url 'gsshaindex:mapping_table' index_name=index_name job_id=job_id mapping_table_number="0" %}">
        {% csrf_token %}
		  <table class="table table-striped">
		  	<thead>
		  		<th colspan="2">ID</th>
		  		<th colspan="3">Description 1</th>
		  		<th colspan="3">Description 2</th>
		  	</thead>
		  	{% for indice in indices %}
			  <tr>
			  	<td colspan="2">{{ indice.index }}</td>
			  	<td colspan="3"><input type="text" class="input" name="indice-desc1-{{indice.id}}" value="{{ indice.description1 }}"></td>
				<td colspan="3"><input type="text" class="input" name="indice-desc2-{{indice.id}}" value="{{ indice.description2 }}"></td>
			  </tr>
		  	{% endfor %}
		  </table>
	  </form>
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      Edit Manually
    </h2>
    <div class="module-content">
    	<p>Draw polygons over locations of the index map that are changing and assign the areas ids. Click "Update Map" after drawing to update the index map and click "Next" after adding descriptions to continue and edit the mapping table.</p>
    	<form name="submit_updates" method="post" action="{% url 'gsshaindex:submit_edits' index_name=index_name job_id=job_id %}">
            {% csrf_token %}
	    	<div style="padding:50px 15px 15px 15px" align="center">
	    		<button class="btn btn-primary" type="submit" name="editable_map_submit" form="map_edits">Save Changes</button>
	    	</div>
    	</form>
    </div>
  </div>
{% endblock %}

{% block app_actions %}
  <input type="submit" form="description_edits" class="btn btn-default" value="Next"/>
{% endblock %}

{% block scripts %}
    {% gizmo_dependencies css %}
    {{ block.super }}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    {% gizmo_dependencies js %}
{% endblock %}
