{% extends "gsshaindex/base.html" %}

{% load tethys_gizmos %}

{% block app_navigation_items %}
  <li class="title">App Navigation</li>
  <li><a href="{% url 'gsshaindex:home'%}">Home</a></li>
  <li><a href="">Load New Models</a></li>
  <li class="separator"></li>
  <li><a href="{% url 'gsshaindex:status'%}">Unsubmitted Models</a></li>
  <li class="separator"></li>
  <li><a href="{% url 'gsshaindex:status'%}">Completed Models</a></li>
  <li class="separator"></li>
  <li><a href="">Get Started</a></li>
{% endblock %}

{% block primary_content %}
      {% if model_list|length < 1 %}
      	<h1 class="heading_title">No GSSHA Models</h1>
      {% else %}
      	<h1 class="heading_title">GSSHA Model: {{ model_list.0.0 }}</h1>
        <h4>Model Description:</h4>
	    <p id="description">{{ model_list.0.2 }}</p>
	  {% endif %}
      {% gizmo editable_google_map google_map %}
{% endblock %}

{% block secondary_content %}
   <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      Select a Model
    </h2>
    <div class="module-content">
        <form id="extract_file" method="post" action="{% url 'gsshaindex:home' %}">
        {% csrf_token %}
        {% if model_list|length < 1 %}
            <p>There are no GSSHA models. Please upload some to your datasets or ensure your models are labeled with "Model" as "GSSHA". </p>
            <input id="file_id" type="text" name="file_id" value="" style="display:none">
        {% else %}
            <p>Below is a list of GSSHA models stored in the datasets. Please select which one you would like to edit.</p>
            <div id="selector-div">
                {% gizmo select_input select_model %}
            </div>
            <input id="file_id" type="text" name="file_id" value={{model_list.0.1}} style="display:none">
        {% endif %}
        </form>
    </div>

  </div>
{% endblock %}

{% block app_actions %}
  <input type="submit" form="extract_file" class="btn btn-default" value="Next"/>
  <a href="" class="btn btn-default">Back</a>
{% endblock %}

{% block scripts %}
    {% gizmo_dependencies css %}
    {{ block.super }}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    {% gizmo_dependencies js %}
	<script>
        $("#selector-div").on("change",function(e){
            file_id = e.val;
            $('#file_id').val(file_id);
            console.log("FileID: " + file_id);
            $.ajax({
                url: "info-by-id/"+file_id
            }).done(function(data){
                description = data.description;
                $('#description').text(description);
                name = data.name;
                $('.heading_title').text("GSSHA Model: " + name);
            });
            TETHYS_EDIT_MAP.swapKmlService('/apps/gsshaindex/get-mask-map/'+file_id);
        });
	</script>
{% endblock %}
