{% extends "gsshaindex/base.html" %}

{% block app_navigation_items %}
  <li class="title">App Navigation</li>
  <li><a href="{% url 'gsshaindex:home'%}">Home</a></li>
  <li><a href="">Jobs</a></li>
  <li><a href="">Results</a></li>
  <li class="title">Steps</li>
  <li><a href="">1. The First Step</a></li>
  <li><a href="">2. The Second Step</a></li>
  <li><a href="">3. The Third Step</a></li>
  <li class="separator"></li>
  <li><a href="">Help</a></li>
{% endblock %}

{% block app_content %}
  <h1>{{name}}</h1>
  <p>Congratulations on creating a new Tethys app!</p>
   <p>WHY ARE YOU NOT WORKING?!?!</p>
{% endblock %}

{% block app_actions %}
  <a href="" class="btn btn-default">Next</a>
  <a href="{% url 'gsshaindex:home' %}" class="btn btn-default">Back</a>
{% endblock %}
