{% extends "gsshaindex/base.html" %}

{% load tethys_gizmos %}

{% block app_navigation_items %}
  <li class="title">App Navigation</li>
  <li><a href="{% url 'gsshaindex:home'%}">Home</a></li>
  <li><a href="">Load New Models</a></li>
  <li class="separator"></li>
  <li><a href="{% url 'gsshaindex:status'%}">Unsubmitted Models</a></li>
  <li class="separator"></li>
  <li><a href="{% url 'gsshaindex:status'%}">Completed Models</a></li>
  <li class="separator"></li>
  <li><a href="">Get Started</a></li>
{% endblock %}

{% block app_content %}
	<h1>Results</h1>
	{% gizmo highcharts_plot_view hydrograph %}
	<h1>Depth Map</h1>
	<p>Select which depth map you'd like to view</p>
	<div class="dropdown" style="padding-bottom:15px">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
		Depth Map Options
		<span class="caret"></span>
	  </button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
			<li class="dropdown-header">{{new_name}}</li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'gsshaindex:results' job_id=job_id view_type='newMax'%}">Max Depth</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'gsshaindex:results' job_id=job_id view_type='newTime'%}">Time Series</a></li>
			<li class="dropdown-header">{{original_name}}</li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'gsshaindex:results' job_id=job_id view_type='originalMax'%}">Max Depth</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'gsshaindex:results' job_id=job_id view_type='originalTime'%}">Time Series</a></li>
			<li class="dropdown-header">{{new_name}} vs {{original_name}}</li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'gsshaindex:results' job_id=job_id view_type='bothMax'%}">Max Depth</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'gsshaindex:results' job_id=job_id view_type='bothTime'%}">Time Series</a></li>
		</ul>
	</div>
	{% gizmo google_map google_map %}

	<p style="padding-top:40px" align="center">Click on the files below if you'd like to download the results.</p>
	<div style="padding-bottom:5px" align="center">
		<a href={{ original_file }}>{{ original_name }}</a>
	</div>
	<div style="padding-top:5px; padding-bottom:40px" align="center">
		<a href={{ new_file }}>{{ new_name }}</a>
	</div>
{% endblock %}


{% block app_actions %}
  <a href="{% url 'gsshaindex:status'%}" class="btn btn-default">Back</a>
{% endblock %}

{% block scripts %}
    {% gizmo_dependencies css %}
    {{ block.super }}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    {% gizmo_dependencies js %}
{% endblock %}
