{% extends "gsshaindex/base.html" %}

{% load tethys_gizmos %}

{% block app_navigation_items %}
  <li class="title">App Navigation</li>
  <li><a href="{% url 'gsshaindex:home'%}">Home</a></li>
  <li><a href="">Load New Models</a></li>
  <li class="separator"></li>
  <li><a href="{% url 'gsshaindex:status'%}">Unsubmitted Models</a></li>
  <li class="separator"></li>
  <li><a href="{% url 'gsshaindex:status'%}">Completed Models</a></li>
  <li class="separator"></li>
  <li><a href="">Get Started</a></li>
{% endblock %}

{% block primary_content %}
      <h1 class="heading_title">Index Map: {{index_name}}</h1>
      {% gizmo google_map google_map %}
		  	<table class="table table-striped">
		  		<thead>
		  			<th colspan="1">ID</th>
		  			<th colspan="3">Description 1</th>
		  			<th colspan="3">Description 2</th>
		  			{% for variable in variables %}
		  			<th colspan="2">{{ variable }}</th>
		  			{% endfor %}
		  		</thead>
				{% for row in values %}
					<tr>
						{% with index=indices|return_item:forloop.counter0 %}
						<td colspan="1">{{ index.0 }}</td>
				  		<td colspan="3">{{ index.description1 }}</td>
				  		<td colspan="3">{{ index.description2 }}</td>
						{% endwith %}
					{% for var in row %}
						<td colspan="2">{{ var.value }}</td>
					{% endfor %}
					</tr>
				{% endfor %}
			</table>
{% endblock %}

{% block secondary_content %}
    <h2>Review Index Mapping Table Values</h2>
    <div class="module-content">
    	<p>Please review your edits to this index map's mapping tables and click "Next" to continue or "Back" to return to the editable mapping tables.</p>
    	<div id="indices-div" style="height:240px">
	    	<ul class="nav nav-pills nav-stacked">
	    		{% for map in mapTables %}
				<li {% if map.2 == mapping_table_number %}class="active"{% else %}class=""{% endif %}><a style="word-wrap: break-word" href="{% url 'gsshaindex:submit_mapping_table' index_name=index_name job_id=job_id mapping_table_number=map.2 %}">{{map.0}}</a></li>
				{% endfor %}
	    	</ul>
    	</div>
    </div>
{% endblock %}

{% block app_actions %}
  <a href="{% url 'gsshaindex:select_index' job_id=job_id  %}" role="button" class="btn btn-success" data-toggle="modal">Next: Save Index Map</a>
  <a href="{% url 'gsshaindex:mapping_table' index_name=index_name job_id=job_id mapping_table_number="0" %}" class="btn btn-default">Back: Edit Mapping Tables</a>
{% endblock %}

{% block scripts %}
    {% gizmo_dependencies css %}
    {{ block.super }}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    {% gizmo_dependencies js %}
{% endblock %}