{% extends "gsshaindex/base.html" %}

{% load tethys_gizmos %}

{% block app_navigation_items %}
  <li class="title">App Navigation</li>
  <li><a href="{% url 'gsshaindex:home'%}">Home</a></li>
  <li><a href="">Load New Models</a></li>
  <li class="separator"></li>
  <li><a href="{% url 'gsshaindex:status'%}">Unsubmitted Models</a></li>
  <li class="separator"></li>
  <li><a href="{% url 'gsshaindex:status'%}">Completed Models</a></li>
  <li class="separator"></li>
  <li><a href="">Get Started</a></li>
{% endblock %}

{% block modal_block %}
  <form action="{% url 'gsshaindex:select_index' job_id=job_id %}" method="post">
      {% csrf_token %}
        <div id="edit_method" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="edit_methodLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>Method to Edit</h3>
                  </div>
                  <div class="modal-body">
                    <p>Select which method you would like to use to edit the index map</p>
                    <label>Editing method</label>
                    <select name="method">
                        <option id="option1">Create polygons</option>
                        <option id="option2">Download shapefile</option>
                        <option id="option3">Merge index maps</option>
                    </select>
                    <input type="text" id="index_name" name="index_name" value= {{map_name}} style="display:none">
                    <p id="editing_description">Manually draw polygons to change the index maps.</p>
                  </div>
                  <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    <button class="btn btn-primary" type="submit" name="select_index">Continue</button>
                  </div>
              </div>
          </div>
        </div>
  </form>
  <form action="{% url 'gsshaindex:zip_file' job_id=job_id %}" method="post">
      {% csrf_token %}
        <div id="submit_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="submit_modalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>Ready to Submit?</h3>
                  </div>
                  <div class="modal-body">
                    <p>If you are done editing the index maps and are ready to submit the GSSHA model to be run, please specify a name and description. Otherwise, return and finish editing.</p>
                    <label for="new_name">New file name</label>
                    <div class="form-group">
                        <input id="new_name" name="new_name" class="form-control" type="text" value="{{project_name}} (modified)">
                    </div>
                    <label for="new_description">New file description</label>
                    <div class="form-group">
                        <input id="new_description" name="new_description" class="form-control" placeholder="New file description">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Return to Edit</button>
                    <button class="btn btn-primary" type="submit" name="submit_for_run">Submit</button>
                  </div>
              </div>
            </div>
        </div>
  </form>
{% endblock %}

{% block primary_content %}
      <h1 class="heading_title">Index Map: {{map_name}}</h1>
      {% gizmo editable_google_map google_map %}
{% endblock %}

{% block secondary_content %}
    <h2 class="module-heading">
      Select an Index File
    </h2>
    <div class="module-content">
        {% if resource_name|length < 1 %}
            <p>There are no index maps related to this GSSHA project.</p>
        {% else %}
            <p>Below is a list of index maps for this GSSHA project. Please select one to edit.</p>
            <div id="indices-div" style="height:400px;overflow-y:auto">
	    		<ul class="nav nav-pills nav-stacked">
		    		{% for name in resource_name %}
			    		<li {% if name == map_name %}class="indices active"{% else %}class="indices"{% endif %} ><a href="javascript:void(0);" id="{{name}}"onclick="changeMap(this, '{{name}}', '{{job_id}}');">{{ name }}</a></li>
		    		{% endfor %}
    			</ul>
    		</div>
        {% endif %}
    </div>
{% endblock %}

{% block app_actions %}
  <button data-target="#submit_modal" type="button" class="btn btn-success" data-toggle="modal">Submit New GSSHA File for Comparison</button>
  <button data-target="#edit_method" type="button" class="btn btn-default" data-toggle="modal">Edit Selected Index Map</button>
{% endblock %}

{% block scripts %}
    {% gizmo_dependencies css %}
    {{ block.super }}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    {% gizmo_dependencies js %}
	<script>
        function changeMap(element, map_name, job_id) {
			$('.indices').each(function(file_id){
				$(this).removeClass('active')
			});
			$('#index_name').val(map_name);
			$('.indices').each(function(){
				if ($(this).children('a').get(0).id == map_name){
					$(this).addClass('active');
				};
			});
			TETHYS_EDIT_MAP.swapKmlService('/apps/gsshaindex/' +job_id+ '/get-index-maps/'+map_name);
		};

		$("select").change(function(){
			$("select option").each(function(){
				if ($(this).get(0).id == "option1"){
					$("#editing_description").text("Manually draw polygons to change the index maps.");
				}
				else if ($(this).get(0).id == "option2"){
					$("#editing_description").text("Select a shapefile to download which is then used to select what areas of the index map will be changed.");
				}
				else if ($(this).get(0).id == "option3"){
					$("#editing_description").text("Select two index maps to combine, or select one index map to replace this one.");
				}
			});
		});
	</script>
{% endblock %}